.main {
    width: 80%;
    margin: 100px auto;
}
.list {
    font-size: 20px;
    padding: 15px 0;
}
.list a {
    font-size: 16px;
    font-weight: bold;
    display: block;

}
.list .dsc {
    padding: 10px;
    font-size: 16px;
}
.list .dtl {
    padding-left: 20px;
}